@import "tailwindcss";

@import "@fortawesome/fontawesome-free/css/all.min.css";

/* Default Styles */
html,
body {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @apply overscroll-none;
}

/* 🔹 Thin Scrollbar */
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #4b5563;
  /* Dark Gray */
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: transparent;
  /* Keeps it invisible */
}

::-webkit-scrollbar-thumb:hover {
  background: #6b7280;
  /* Lighter gray on hover */
}

/* 🔹 Hide Scrollbars for Mobile */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    display: none;
  }
}